@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url('../assets/fonts/#{$file_name}.woff2') format('woff2'), url('../assets/fonts/#{$file_name}.woff') format('woff');
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@mixin onHover() {
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.7;
    }
}
