$color-bg1: #322f20;
$color-bg2: #ffffff;

$color-text1: #ffffff;
$color-text2: #322f20;

$color-header1: #88b757;

$border-radius: 5px;

$shadow1: 0 0 5px 2px rgba(0, 0, 0, 0.1);
$shadow2: 0 0 5px 2px rgba(255, 255, 255, 0.1);

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
