header.header
    .header__inner.container
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener') &#169; O.D. Tsybulska, 2021
        .header__icons
            span#header__phrases.header__phrases Phrases
            a(href='./ru.html' rel='nofollow noopener') RU
            svg#header__theme.header__theme
                use(xlink:href='./assets/icons/sprite.svg#brightness')