header.header
    .header__inner
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener')
            span Developed 
            | by Olena Tsybulska
        .header__icons
            a(href='./ru.html' rel='nofollow noopener') RU
            svg#header__theme.header__theme
                use(xlink:href='./assets/icons/sprite.svg#brightness')