header.header
    .header__inner.container
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener') &#169; Tsybulska
        .header__menu#header__menu
            svg#header__back.header__back
                use(xlink:href='./assets/icons/sprite.svg#arrow-left')
            span#header__cards.header__cards Cards
            span#header__phrases.header__phrases Phrases
            a(href='./ru.html' rel='nofollow noopener') RU
            svg#header__theme.header__theme
                use(xlink:href='./assets/icons/sprite.svg#brightness')
h1
    a(href='https://store.steampowered.com/app/739630/Phasmophobia/' target='_blank' rel='nofollow noopener') Phasmophobia