section.phrases
    h2
        a(href='https://store.steampowered.com/app/739630/Phasmophobia/' target='_blank' rel='nofollow noopener') Phasmophobia
        <br>Phrases Ghosts Respond To
    .container
        ul#phrases__label.phrases__label
            li.phrases__all-label.label-active All
            li.phrases__general-label General
            li.phrases__box-label Spirit Box
            li.phrases__board-label Ouija Board
            li.phrases__trigger-label Trigger Ghosts
        #phrases__text.phrases__text
            .phrases__general
                p General
                ul
                    li What do you want?
                    li Why are you here?
                    li Do you want to hurt us?
                    li Are you angry?
                    li Do you want us here?
                    li Shall we leave?
                    li Should we leave?
                    li Do you want us to leave?
                    li What should we do?
                    li Can we help?
                    li Are you friendly?
                    li What are you?
                    li Are you close?
                    li Can you show yourself?
                    li Give us a sign.
                    li Let us know you are here.
                    li Show yourself.
                    li Can you talk?
                    li Speak to us.
                    li Are you here?
                    li Are you with us?
                    li Anybody with us?
                    li Is anyone here?
                    li Anybody in the room?
                    li Anybody here?
                    li Is there a spirit here?
                    li Is there a Ghost here?
                    li Are you a girl?
                    li Are you a boy?
                    li Are you male?
                    li Are you female?
                    li Who are you?
                    li What are you?
                    li Who is this?
                    li Who are we talking to?
                    li Who am I talking to?
                    li Hello?
                    li What is your name?
                    li Can you give me your name?
                    li How old are you?
                    li How young are you?
                    li What is your age?
                    li When were you born?
                    li Are you a child?
                    li Are you old?
                    li Are you young?
                    li What is your location?
                    li What is your gender?
                    li Are you male or female?
                    li Are you a woman?
            .phrases__box
                p Spirit Box
                ul
                    li Can you speak?
                    li Can you speak to us?
                    li Make a noise.
                    li Open a door.
                    li Open this door.
                    li Turn on the light.
                    li Turn off the light.
                    li Are there any ghosts?
                    li Give us a sign.
                    li Show us.
                    li Let us know you are here.
                    li Do something.
                    li Is there anyone with me?
                    li Scream.
                    li Can we speak?
                    li Would like to speak to you.
                    li Is there anyone here?
                    li May I ask you?
                    li Would you like to talk?
                    li Are you the only one here?
                    li Are you waiting?
                    li Is there anything I can do?
                    li Do you know who we are?
                    li Are you happy?
                    li Are you here all the time?
                    li Are you male or female?
                    li Do you want us to leave?
                    li Can I ask you?
                    li Can you make a sound?
                    li Show us your presence.
                    li Knock something.
                    li Make a sound.
                    li Open the door.
                    li Throw something.
                    li Talk to me.
                    li Talk to us.
                    li We mean you no harm.
                    li We are friends.
                    li Is this you're home?
                    li Can you speak to us?
                    li Shall we leave?
                    li Do you want to hurt us?
            .phrases__board
                p Ouija Board
                ul
                    li Who did you kill?
                    li Who is your victim?
                    li What is the name of the person you killed?
                    li What is the name of the person you murdered?
                    li What is your victim?
                    li Did you murder?
                    li Who did you murder?
                    li Who died?
                    li How old are you?
                    li What is your age?
                    li Are you old?
                    li Are you young?
                    li How long have you been dead?
                    li How many years ago did you die?
                    li How long have you been here?
                    li How long ago did you die?
                    li When did you die?
                    li How many are in this room?
                    li How many people are in this room?
                    li How many people are in here?
                    li How many ghosts are in this room?
                    li How many ghosts are in here?
                    li Are you alone?
                    li Are we alone?
                    li Who is here?
                    li Who is in this room?
                    li Where are you?
                    li What is your favorite room?
                    li Where is your room?
                    li What is your room?
                    li Are you here?
                    li Are you close?
                    li Are there any spirits?
                    li Are you near?
                    li Are you around?
            .phrases__trigger
                p Trigger Ghosts
                ul
                    li I'm scared.
                    li I am scared.
                    li Scared.
                    li Scary.
                    li Spooky.
                    li Horror.
                    li Scare.
                    li Frighten.
                    li Panic.
                    li Fright.
                    li Hide.
                    li Run.
                    li Show your presence.
                    li Show us.
                    li Show me.