section.cards
    h2 Tarot Cards
    .container
        .cards__table
            .cards__list
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheWheelOfFortune.webp' type='image/webp')
                            source(srcset='./assets/images/TheWheelOfFortune.jpg' type='image/jpeg')
                            img(src='./assets/images/TheWheelOfFortune.jpg' alt='КолесоФортуны')
                    .cards__effect
                        p Игрок получает 25% рассудка, если карта горит зеленым,
                            br
                            | или теряет 25% рассудка, если карта горит красным
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheTower.webp' type='image/webp')
                            source(srcset='./assets/images/TheTower.jpg' type='image/jpeg')
                            img(src='./assets/images/TheTower.jpg' alt='Башня')
                    .cards__effect
                        p Вызывает взаимодействие
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheDevil.webp' type='image/webp')
                            source(srcset='./assets/images/TheDevil.jpg' type='image/jpeg')
                            img(src='./assets/images/TheDevil.jpg' alt='Дьявол')
                    .cards__effect
                        p Запускает призрачное событие для ближайшего к призраку игрока
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheHermit.webp' type='image/webp')
                            source(srcset='./assets/images/TheHermit.jpg' type='image/jpeg')
                            img(src='./assets/images/TheHermit.jpg' alt='Отшельник')
                    .cards__effect
                        p Телепортирует призрака обратно в его комнату и запирает там на 1 минуту.
                            br
                            | Не влияет на охоту
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/Death.webp' type='image/webp')
                            source(srcset='./assets/images/Death.jpg' type='image/jpeg')
                            img(src='./assets/images/Death.jpg' alt='Смерть')
                    .cards__effect
                        p Запускает проклятую охоту
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheSun.webp' type='image/webp')
                            source(srcset='./assets/images/TheSun.jpg' type='image/jpeg')
                            img(src='./assets/images/TheSun.jpg' alt='Солнце')
                    .cards__effect
                        p Полностью восстанавливает рассудок до 100%
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheMoon.webp' type='image/webp')
                            source(srcset='./assets/images/TheMoon.jpg' type='image/jpeg')
                            img(src='./assets/images/TheMoon.jpg' alt='Луна')
                    .cards__effect
                        p Мгновенно опускает рассудок до 0%
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheHighPriestess.webp' type='image/webp')
                            source(srcset='./assets/images/TheHighPriestess.jpg' type='image/jpeg')
                            img(src='./assets/images/TheHighPriestess.jpg' alt='ВерховнаяЖрица')
                    .cards__effect
                        p Оживляет случайно мертвого человека в его трупе.
                            br
                            | Если в данный момент никто не умер, то воскреснет следующий умерший игрок
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheHangedMan.webp' type='image/webp')
                            source(srcset='./assets/images/TheHangedMan.jpg' type='image/jpeg')
                            img(src='./assets/images/TheHangedMan.jpg' alt='Повешенный')
                    .cards__effect
                        p Мгновенно убивает игрока
                .cards__item
                    .cards__img
                        picture
                            source(srcset='./assets/images/TheFool.webp' type='image/webp')
                            source(srcset='./assets/images/TheFool.jpg' type='image/jpeg')
                            img(src='./assets/images/TheFool.jpg' alt='Дурак')
                    .cards__effect
                        p Сначала появится как другая карта, после превратится в Дурака, когда сгорит.
                            br
                            | Эта карта не имеет эффектов.
                            br
                            | 100% шанс вытягивания во время охоты