header.header
    .header__inner
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener')
            span Разработала 
            | Елена Цыбульская
        .header__icons
            a(href='./index.html' rel='nofollow noopener') EN
            svg#header__theme.header__theme
                use(xlink:href='./assets/icons/sprite.svg#brightness')