header.header
    .header__inner.container
        a(href='https://tsybulska.github.io/' target='_blank' rel='nofollow noopener') &#169; Цыбульская Е.Д., 2021
        .header__icons
            span#header__phrases.header__phrases Фразы
            a(href='./index.html' rel='nofollow noopener') EN
            svg#header__theme.header__theme
                use(xlink:href='./assets/icons/sprite.svg#brightness')