section.phrases
    h2 Фразы Для Общения
    .container
        ul#phrases__label.phrases__label
            li.phrases__all-label.label-active Все
            li.phrases__general-label Основные
            li.phrases__box-label Радиоприемник
            li.phrases__board-label Доска
            li.phrases__trigger-label Провоцируют
        #phrases__text.phrases__text
            .phrases__general
                p Основные
                ul
                    li Что ты хочешь?
                    li Почему ты здесь?
                    li Ты хочешь нам навредить?
                    li Ты зол? Ты злой?
                    li Мы должны быть здесь?
                    li Мы уйдем?
                    li Мы должны уйти?
                    li Ты хочешь что бы мы ушли?
                    li Что мы должны делать?
                    li Мы можем помочь?
                    li Ты дружелюбный?
                    li Ты здесь?
                    li Ты рядом?
                    li Можешь показать себя?
                    li Дай нам знак.
                    li Дай нам знать что ты здесь.
                    li Покажись
                    li Можешь говорить?
                    li Поговори с нами
                    li Ты рядом?
                    li Ты рядом с нами?
                    li Кто нибудь рядом с нами?
                    li Здесь кто-то есть?
                    li Кто в этой комнате?
                    li Кто нибудь здесь?
                    li Здесь дух?
                    li Здесь призрак?
                    li Ты девушка?
                    li Ты парень?
                    li Ты мужчина?
                    li Ты женщина?
                    li Кто ты?
                    li Что ты?
                    li Кто это?
                    li С кем мы разговариваем?
                    li С кем я разговариваю?
                    li Привет?
                    li Как тебя зовут?
                    li Можешь сказать свое имя?
                    li На сколько ты старый?
                    li На сколько ты молодой?
                    li Сколько тебе лет?
                    li Когда ты родился?
                    li Ты ребенок?
                    li Ты старый?
                    li Ты молодой?
                    li Какое твое местоположение?
                    li Какой твой пол?
                    li Ты девушка или мужчина?
            .phrases__box
                p Радиоприемник
                ul
                    li Ты можешь говорить?
                    li Вы можете с нами поговорить?
                    li Пошуми
                    li Откройте дверь.
                    li Открой эту дверь.
                    li Включи свет.
                    li Выключи свет.
                    li Есть ли привидения?
                    li Подайте нам знак.
                    li Покажись нам.
                    li Дай нам знать что вы здесь.
                    li Сделай что-нибудь.
                    li Со мной есть кто-нибудь?
                    li Крикни/Закричи
                    li Мы можем поговорить?
                    li Я хотел бы поговорить с вами.
                    li Здесь есть кто-нибудь?
                    li Могу я задать тебе вопрос?
                    li Ты хочешь поговорить?
                    li Ты здесь один?
                    li Ты ждешь?
                    li Что я могу сделать?
                    li Ты знаешь кто мы?
                    li Вы счастливы?
                    li Ты все время здесь?
                    li Вы мужчина или женщина?
                    li Вы хотите, чтобы мы ушли?
                    li Могу я вас спросить?
                    li Вы можете издать звук?
                    li Покажи нам свое присутствие.
                    li Постучите что-нибудь.
                    li Сделайте звук.
                    li Открой дверь.
                    li Бросьте что-нибудь.
                    li Поговори со мной.
                    li Поговори с нами.
                    li Мы не хотим причинить вам вреда.
                    li Мы друзья.
                    li Это твой дом?
                    li Вы можете с нами поговорить?
                    li Мы должны уйти?
                    li Ты хочешь навредить нам?
            .phrases__board
                p Доска
                ul
                    li Кого ты убил?
                    li Кто твоя жертва?
                    li Как зовут человека, которого вы убили?
                    li Что твоя жертва?
                    li Ты убил?
                    li Кого ты убил?
                    li Кто умер?
                    li Сколько тебе лет?
                    li Какой ваш возраст?
                    li Вы старый?
                    li Ты молод?
                    li Как давно ты мертв?
                    li Сколько лет назад ты умер?
                    li Как давно ты здесь?
                    li Как давно ты умер?
                    li Когда ты умер?
                    li Сколько их в этой комнате?
                    li Сколько людей в этой комнате?
                    li Сколько здесь людей?
                    li Сколько призраков в этой комнате?
                    li Сколько здесь призраков?
                    li Ты одинок?
                    li Мы одни?
                    li Кто здесь?
                    li Кто в этой комнате?
                    li Где ты?
                    li Какая твоя любимая комната?
                    li Где твоя комната?
                    li Какая у тебя комната?
                    li Ты здесь?
                    li Вы близко?
                    li Есть ли духи?
                    li Ты рядом?
                    li Ты поблизости?
            .phrases__trigger
                p Провоцируют
                ul
                    li Я испугался.
                    li Мне страшно.
                    li Испуганный.
                    li Страшно.
                    li Ужасный.
                    li Фильм ужасов.
                    li Напугать.
                    li Пугать.
                    li Паника.
                    li Испуг.
                    li Прячься.
                    li Беги.
                    li Покажи свое присутствие.
                    li Покажи нам.
                    li Покажи мне.