doctype html
html(lang='en')
    block head
        head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible' content='IE=Edge')
            meta(name='description' content='Phasmophobia Evidence Calculator')
            meta(name='keywords' content='Phasmophobia, Evidence, Calculator, Tracker, Cheatsheet')
            meta(name='author' content='Olena Tsybulska tsybulska.github.io')
            meta(name='viewport' content='width=device-width, initial-scale=1')
            title Phasmophobia Evidence Calculator
            link(href='./styles/styles.min.css' rel='stylesheet preload prefetch' as='style' type ='text/css')
            script(src='./scripts/scripts-en.min.js' defer)
            script(src='./scripts/scripts.min.js' defer)
    body
        script.
            localStorage.getItem("theme-switched")&&(document.body.classList.toggle("theme"));
        include includes/index/header
        main.main
            include includes/index/evidence
