doctype html
html(lang='ru')
    block head
        head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible' content='IE=Edge')
            meta(name='description' content='Фазмофобия Калькулятор Улик')
            meta(name='keywords' content='Phasmophobia, Фазмофобия, Улика, Подсказка, Калькулятор, Трекер, Шпаргалка')
            meta(name='author' content='Olena Tsybulska tsybulska.github.io')
            meta(name='viewport' content='width=device-width, initial-scale=1')
            title Фазмофобия Калькулятор Улик
            link(href='./styles/styles.min.css' rel='stylesheet preload prefetch' as='style' type ='text/css')
            script(src='./scripts/scripts-ru.min.js' defer)
            script(src='./scripts/scripts.min.js' defer)
    body
        script.
            localStorage.getItem("theme-switched")&&(document.body.classList.toggle("theme"));
        include includes/ru/header
        main.main
            include includes/ru/evidence