.evidence {
    .container {
        display: flex;
    }

    svg {
        height: 35px;
        width: 35px;
    }

    span {
        margin: -2.5px 5px 0;
    }

    &__item {
        display: flex;
        padding: 5px 0;
    }

    &__body,
    &__reset {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        padding: 5px 5px 5px 15px;
        box-shadow: $shadow1;
        border-radius: $border-radius;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__reset {
        justify-content: center;
        margin: 5px 0;
    }

    &__not-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        box-shadow: $shadow1;
        border-radius: $border-radius;
        cursor: pointer;
    }

    &__text {
        margin: 5px 30px;
    }

    &__list {
        text-align: left;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
    }

    &__warning {
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    .evidence {
        &__body,
        &__reset,
        &__not-icon {
            transition: box-shadow 0.2s ease-in-out;
            &:hover {
                box-shadow: $shadow2;
            }
        }
    }
}

@media (max-width: 767.9px) {
    .evidence {
        .container {
            display: block;
        }

        svg {
            height: 25px;
            width: 25px;
        }

        &__body,
        &__reset {
            height: 40px;
            padding: 5px 5px 5px 10px;
        }

        &__not-icon {
            width: 50px;
            height: 40px;
        }

        &__text {
            margin: 20px 0;
        }

        &__list {
            li {
                margin-bottom: 5px;

                svg {
                    margin-top: -3px;
                }
            }
        }
    }
}
