.evidence {
    margin: 0 auto;
    font-weight: 500;

    &__item {
        display: flex;
        padding: 5px 0;

        svg {
            height: 35px;
            width: 35px;
        }

        span {
            margin: 0 5px;
        }
    }

    &__body,
    &__reset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 100%;
        padding: 5px 5px 5px 15px;
        box-shadow: $shadow2;
        border-radius: $border-radius;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        @include onHover;
    }

    &__reset {
        justify-content: center;
        margin: 5px 0;
    }

    &__icon {
        &--done,
        &--undone {
            filter: invert(1);
            @include onHover;
        }

        &--done {
            width: 40px;
            height: 40px;
            background: url('../assets/icons/sprite.svg#check');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 90%;
        }

        &--undone {
            width: 50px;
            height: 50px;
            margin-left: 10px;
            box-shadow: $shadow1;
            border-radius: $border-radius;
            background: url('../assets/icons/sprite.svg#close');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
            cursor: pointer;
        }
    }

    &__text {
        margin: 5px 30px;
    }

    &__list {
        text-align: left;

        li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;
        }
    }

    &__warning {
        text-transform: uppercase;
    }
}

@media (max-width: 767.9px) {
    .evidence {
        &__item {
            svg {
                height: 25px;
                width: 25px;
            }
        }

        &__body,
        &__reset {
            height: 35px;
            padding: 5px 5px 5px 10px;
        }

        &__reset {
            justify-content: center;
            margin: 5px 0;
        }

        &__icon {
            &--done {
                width: 25px;
                height: 25px;
                background: url('../assets/icons/sprite.svg#check');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            &--undone {
                width: 35px;
                height: 35px;
                background-size: 70%;
            }
        }

        &__text {
            margin: 20px 0;
        }

        &__list {
            li {
                margin-bottom: 5px;

                svg {
                    margin-top: -3px;
                }
            }
        }
    }
}
