.header {
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: $color1;
    box-shadow: $shadow2;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        margin: 0 auto;

        svg {
            margin-top: 2px;
            width: 23px;
            height: 23px;
        }
    }

    &__icons {
        display: flex;
        align-items: center;

        * {
            margin-left: 15px;
            @include onHover;
            cursor: pointer;
        }
    }
}

@media (max-width: 767.9px) {
    .header {
        padding: 10px 0;
        font-size: 0.8rem;

        &__inner {
            margin-right: -3px;

            a span {
                display: none;
            }

            svg {
                margin-top: 2px;
                width: 20px;
                height: 20px;
            }
        }

        &__icons {
            * {
                margin-left: 10px;
            }
        }
    }
}
