section.evidence
    h1 Phasmophobia <br/> Ghost Evidence
    #evidence__table
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#temperature')
                span Freezing Temperature
                .evidence__icon--done
            .evidence__icon--undone
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#flashlight-off')
                span Fingerprints
                .evidence__icon--done
            .evidence__icon--undone
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#dj')
                span Spirit Box
                .evidence__icon--done
            .evidence__icon--undone
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#dice')
                span EMF Level 5
                .evidence__icon--done
            .evidence__icon--undone
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#pencil')
                span Ghost Writing
                .evidence__icon--done
            .evidence__icon--undone
        .evidence__item
            .evidence__body
                svg
                    use(xlink:href='./assets/icons/sprite.svg#movie')
                span Ghost Orbs
                .evidence__icon--done
            .evidence__icon--undone
    .evidence__reset
        p Reset
    p.evidence__list It is: 
        span
        span.evidence__warning